<!-- topnavbar -->
<div class="topnav shadow p-4">
   <a href="#">Admin Dashboard</a>
   <div class="search-box">
   <input
  type="text"
  placeholder="Search by Name"
  (input)="onSearch($event)"
  *ngIf="!isMobile"
/>
   <span class="search-icon" *ngIf="!isMobile">
    <i class="bi bi-search"></i>
    </span>
</div>
   <span class="menu" (click)="openNav(true)"><i class="bi bi-list"></i></span>
</div>
<!-- enf of the topnavbar -->

<!-- Left Sided Navbar -->
<div class="sidebar shadow p-2" id="sidebar" [ngStyle]="responsiveMenu">
   <ul>
    <li *ngIf="isMobile">
      <div class="search-box">
        <input
        type="text"
        placeholder="Search by Name"
        (input)="onSearch($event)"
       />
        <span class="search-icon">
          <i class="bi bi-search"></i>
          </span>
      </div> 
    </li>
    <li><a href=""><i class="bi bi-speedometer2"></i>Dashboard</a></li>
    <li><a routerLink="/users"><i class="bi bi-person-gear"></i>Users</a></li>
    <li>
      <a href=""><i class="bi bi-card-text"></i>Panel <i class="bi bi-arrow-right icon"></i></a>
      <ul class="dropdown-container">
        <li><a href="">Link1</a></li>
        <li><a href="">Link2</a></li>
      </ul>
    </li>
    <li><a href=""><i class="bi bi-box-arrow-left"></i>Logout</a></li>
   </ul>
</div>
<!-- end of the left sided Navbar -->

<!-- main content  -->
<div class="main-content" [ngStyle]="responsiveContent">
  <router-outlet></router-outlet>
</div>
<!-- main content  -->

