<div class="container my-5">
    <div class="p-5 text-center bg-body-tertiary rounded-3">
      <img src="assets/logo-big.jpg" alt="logo" class="logo-img">
      <h1 class="text-body-emphasis">Welcome To Maids.CC !</h1>
      <p class="col-lg-8 mx-auto fs-5 text-muted">
        Maids.cc is the UAE's single largest employer, with over 15,000 employees at your service. It is also the largest visa issuer, and is ranked as the #1 government-services company in the UAE.
      </p>
      <div class="d-inline-flex gap-2 mb-5">
        <button routerLink="/users" class="d-inline-flex align-items-center btn btn-primary btn-lg px-4 rounded-pill" type="button">
          Show users
        </button>
      </div>
    </div>
  </div>